// Copycats Custom scss file
// Include any default variable overrides here (though functions won't be available)

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;700;900&display=swap');

// Theme color palette
@import '../../../../../../modules/cc template/colors.scss';

// Theme colors: cc for copycats :3
$copycats-theme-colors: (
  "primary":    $primary,
  "featured":   $pink,
);

// Links color styles
$link-color:                             $blue;
$link-decoration:                         none;
$link-shade-percentage:                   20%;
$link-hover-color:                        shift-color($link-color, $link-shade-percentage);
$link-hover-decoration:                   null;

// Container Variables.
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1440px
);

// Option B: Include parts of Bootstrap
@import '../../../../../../modules/bootstrap/scss/bootstrap.scss';

// Here use functions: Color Functions
// Shadows
$shadow-100: tint-color($shadow, 80%);
$shadow-500: $shadow;
$shadow-600: shade-color($shadow, 20%);
$shadow-900: shade-color($shadow, 80%);

@each $color, $value in $copycats-theme-colors {
  .cc-btn-#{$color} {
    @include button-variant($value, $value);
  }
}

// Copycats template import ordered styles
// cc-buttons
@import '../../../../../../modules/cc template/buttons.scss';

// Woocommerce Style Overrides

// Utilizing WooCommerce Styles
@import '../../../../plugins/woocommerce/assets/css/woocommerce';

.woocommerce form .show-password-input, .woocommerce-page form .show-password-input {
	top: 0 !important; }

$red-featured: lighten($red, 20%) !default;
$public-yellow-box: lighten($public-yellow, 20%) !default;

.woocommerce a.button {
  background-color: $red-featured;
  color: white; }

.woo_categories_menu__title {
	background-color: $red-featured;
  color: white; }

@import '../../../../plugins/woocommerce/assets/css/woocommerce-layout';
@import '../css/copycats.scss';

// 5. Add additional custom code here

.navbar-nav {
  flex-direction: row !important; }

/* Header */
.copycats-navbar {
  padding: 2.286em 0 1.857em; }
.copycats-nav-row {
  padding-top: 1rem; }
  .copycats-nav-row .departments-menu-title {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
.fs-box.card {
  background-color: $public-yellow;  }
.categories-list-menu a {
  color: $cc-text-color-dark; }
.departments-menu-title {
  background-color: $public-yellow; 
  font-weight: 700;
  font-size: 1em;
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 calc(1.143em + 8px);
  border-radius: .5em; }

.blog-title {
	padding: 20px;
	background-color: $teal; }

.bg-footer {
  background-color: $cp-footer-bg;
  color: $cc-text-color-dark; }

.sub-footer {
  background-color: $sub-footer-bg;
  text-align: center; }

.top-bar {
	background-color: $shadow-500;
	color: $cp-text-color-light;
  text-align: center; }

  /* Bottom Bar*/
	.bottom-bar .wp_is_not_mobile .menu-item {
		margin: 0 32px;	}
		.bottom-bar .header_main_menu {
			flex-grow: 1; }
		.bottom-bar .header_main_menu li {
			list-style: none; }
  .bottom-bar .woo_categories_menu .departments-menu-title {
    line-height: 3.214em; }

// cards
.card.anouncement {
  color: $desaturated-blue;
  margin: 50px auto;
  overflow: hidden; }
  .card.anouncement .hero-img {
    width: 100%; }
  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px;
    font-size: 18px; }
    .card-container .card-title {
      color: $dark-blue;
      font-weight: 900;
      font-size: 32px; }
    .card-container strong {
      color: $dark-blue; }
    .card-container > * {
      margin: 13px 0; }

/* Footer */
.footer-social-icons .social-icons > ul {
  flex-direction: row; }
  .footer-social-icons .social-icons .fa-facebook:hover {
    color: $clr-facebook; }
  .footer-social-icons .social-icons .fa-whatsapp:hover {
    color: $clr-whatsapp; }

  .footer-social-icons .social-icons .fa-instagram:hover {
    color: $clr-instagram; }
  .social-icons {
    align-items: center;
    justify-content: center;
    margin: 1rem; }
    .social-icons > li {
      display: inline-block; }
    .social-icons li + li a {
      margin-left: 26px; }
  .address-data {
    padding-left: 3rem;
    width: 100%;
    display: inline-block; }

.menu.block_1 {
	padding-left: .5rem; }

.box {
	position: relative;
	padding: 15px;
	height: 100%; }
	.box ul {
		display: flex;
		flex-direction: column;
		list-style: none; }


@media only screen and ( max-width: 550px ){

  .categories-column {
    padding-left: 0;
	}

}