/* Site Header - TopBar, Headers & Navbar */

.copycats-navbar {
	padding: 2.286em 0 1.857em; }
.site-header {
	position: relative;
	background-color: var(--wp--preset--color--luminous-vivid-amber);
	z-index: 999; }
	.site-header .top-bar {
		text-align: center; } 	
	.site-header .top-bar > * {
		color: $cc-text-color-dark; }
		.site-header .top-bar-menu .menu-item {
			padding: 0 32px;	}
		.site-header .hot-title, .site-header .navbar-search {
			margin: .59em 0; }
	.site-header .navbar-search {
		flex-basis: 0;
		flex-grow: 1;
		max-width: 100%; }
		.site-header .navbar-search .nav a {
			margin-left: 26px;
			color: $shadow-a; }
		.site-header .navbar-search .btn {
		background: $red; 
		color: $cp-text-color-light; }

	.navbar-search .form-control {
		padding: .3em 2.134em;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0; }
	.navbar-search .input-group {
		height: 41px; }
		.navbar-search .input-group > div {
			height: 100%; }
		.navbar-search .input-group .input-group-btn {
			// review scss function
			font-size: 1.066em; }
	.navbar-search .input-search-field {
		display: flex;
		flex-grow: 1;
		flex-basis: 0; }
	.navbar-search .search-categories {
		padding-right: 4.875em;	
		background: white; 	}
		.navbar-search .search-categories > select {
			border-width: 0; }
	.navbar-search .btn {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		height: 100%;
		padding: .34em 1rem; }

	.form-select, select {
		display: block;
		padding: .25rem 2.2rem .25rem .75rem;
		width: 100%;
		font-weight: 400;
		line-height: 1.714;
		background-color: white;
		border: 1px solid #ddd;
		border-radius: 1.375rem;
		box-shadow: 0;
		transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;	}

.input-group {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	width: 100%; }

.input-group-addon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	// REV
	padding: 0.5rem .75rem;
	margin-bottom: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.25;
	text-align: center; }
	
	.hot-title h5 {
		margin: 0; 
		letter-spacing: 0.5px;
		font-size: 13px; }

	.main-header-right {
		display: flex;
		align-items: center;
		justify-content: space-between;	}
		.main-header .main-header-right .woo_search_with_cats {
			margin-left: auto;
			margin-right: auto;	}

	/* Containers */

	/* Main Header Image Widget Display */
	.cover-display {
		background-size: cover;
		background-position: center;
		height: 450px; 
		display: block; }

	.fs-slider-content {
		margin-top: 140px;
		margin-bottom: 134px; }

	.primary-container {
		padding: 25px 25px;	}

/* Sliders Featured Main SVG */
	.featured-wrapper {
		display: grid;
		margin-top: 10px;
		color: white;
		grid-template-columns: repeat(9, 1fr);
		grid-template-rows: repeat(9, 1fr);	}
		.featured-item {
			grid-column-start: 3;
			grid-column-end: 6;	}

	.card .featured.price {
		float: right;
		padding: 0.375rem 0.75rem;
		border-radius: 26px;
		vertical-align: middle;
		font-size: 16px;
		color: #d5d9e1;
		background-color: black; }

	.featured-sgv img {
		height: 300px; }

// Main Slider Styles

.inner-slider-wrapper {
	height: 100%;
	width: 100%; }

.inner-slider-wrapper h1 {
	font-family: 'Inter', sans-serif; }
	.inner-slider-wrapper.main-slide {
		background-color: #212129; }
	.inner-slider-wrapper.slide-1 {
		background-color: #ddffaa;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23AE9' points='120 120 60 120 90 90 120 60 120 0 120 0 60 60 0 0 0 60 30 90 60 120 120 120 '/%3E%3C/svg%3E"); }
	.inner-slider-wrapper.slide-2 {
		background-color: #ff5959;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23ff8a8a' points='120 120 60 120 90 90 120 60 120 0 120 0 60 60 0 0 0 60 30 90 60 120 120 120 '/%3E%3C/svg%3E"); }
	.inner-slider-wrapper.slide-3 {
		background-color: #C9ECF6;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%2366DBee' points='120 120 60 120 90 90 120 60 120 0 120 0 60 60 0 0 0 60 30 90 60 120 120 120 '/%3E%3C/svg%3E"); }

	.slide-2 .slide-grid-featured {
		display: grid;
		grid-gap: 0.5rem;
		grid-template-columns: 50% 50%;
		grid-template-rows: 50% 50%; }

	/* Grid Template Items Demo Layout*/

	.slide-grid-featured {
		height: 600px;
		width: auto;
		padding: 1.5rem; }

	.featured.card {
		height: 100%; }
		.featured.card-img-overlay {
			padding: .5rem;
			top: 75%;
			background-color: #fff; }

	.item {
		overflow: hidden; }

	.slide-2 .slide-grid-featured .item-1 {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 3;
		background: #fff; }
	.slide-2 .slide-grid-featured .item-2 {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 3;
		background: rgb(228, 228, 228); }

/* Blog Styles */
	.single_post_layout {
		padding: 39px 38px 40px;
		box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
		margin: 0 0 30px;
		border-top: solid 1px $sub-footer-bg; }
	.blog .main-wrapper {
		background: #dcf3e5; }
	.copycats_news_list {
		width: 100%;
		margin: 0 0 30px;
		background-color: #fff;
		padding: 40px 32px;
		box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
		transition: .3s ease; }
		.copycats_news_list:hover {
			box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); }
		.copycats_news_list .blog-entry-title h2 {
			margin-bottom: 20px;
			font-size: 33px;
			line-height: 35px;	}
		.copycats_news_list .read-more {
			display: inline-block;
			vertical-align: top;
			padding: 10px 30px;
			font-size: 11px;
			line-height: 22px;
			color: #474747;
			border: 1px solid #474747;
			border-radius: 26px;
			text-transform: uppercase;
			letter-spacing: 2px;
			border-color: #0d6efd;
			color: #0d6efd; }
		.copycats_news_list .read-more:hover {
			background-color: #0d6efd;
			border-color: #0d6efd;
			color: #fff; }

.box-footer {
	position: relative; }

/* */
.copyright {
	padding: 25px 0;
	font-size: 15px;
	border-top: 1px solid rgba(256, 256, 256, .1); }

/* Copycats */
  .copycats-nav-row {
	padding-top: 1rem; }
	.copycats-nav-row .departments-menu-title {
	  	border-bottom-left-radius: 0;
	  	border-bottom-right-radius: 0; }
  	.fs-box.card {
		background-color: $public-yellow;  }
  	.categories-list-menu a {
		color: $shadow; }
  	.departments-menu-title {
		background-color: $red; 
		font-weight: 700;
		font-size: 1em;
		display: flex;
		height: 100%;
		align-items: center;
		padding: 0 calc(1.143em + 8px);
		border-radius: .5em; }

/* Header */

/* Main Dropdown Menu*/

.dropdown > .dropdown-menu {
	border: 2px solid transparent;
	border-top: none;
	width: 100%;
	margin: 0;
	border-radius: 0;
	border-bottom-left-radius: .5em;
	border-bottom-right-radius: .5em;
	padding: .5em 0;
	box-shadow: none;
	min-width: 270px;
	top: 100% !important;
	background-clip: padding-box;
	background-color: $cp-footer-bg; }
  
	.departments-menu .dropdown > .yamm {
	  visibility: hidden; }
	.departments-menu .dropdown:hover > .yamm {
	  visibility: visible;  }
  	.departments-menu .dropdown-menu > li {
		padding: 0 1em; }
	.departments-menu .dropdown-menu > li > a {
	  padding: 6.5px 0 6.5px 5px;
	  line-height: 1.5;
	  white-space: normal;
	  border-bottom: 1px solid #ddd; }
	.departments-menu .dropdown-menu > li:last-child > a {
	  border-bottom: none; }
	.departments-menu .dropdown-menu > li:hover > a {
	  font-weight: 700;
	  background-color: $test-color; }

	.show-dropdown > .dropdown-menu {
	display: block; }
	.dropdown > .dropdown-menu.yamm {
	box-shadow:0 2px 5px 0 rgba(0,0,0,.28) }
  
@media only screen and ( max-width:550px ) {

	#search-bar { 
		display: none; }

		.inner-slider-wrapper .card {
			margin: 0 20px 0 20px; }

			.slide-2 .slide-grid-featured {
				display: grid;
				grid-template-columns: 50% 50%;
				grid-template-rows: 50% 50%; }

		/* Grid Template Items Demo Layout*/

		.slide-grid-featured {
			height: 600px;
			width: auto;
			padding: 1.5rem; }

		.slide-2 .slide-grid-featured .item-1 {
			grid-column-start: 1;
			grid-column-end: 3;
			grid-row-start: 1;
			grid-row-end: 2; }

		.slide-2 .slide-grid-featured .item-2 {
			grid-column-start: 1;
			grid-column-end: 3;
			grid-row-start: 2;
			grid-row-end: 3; }

	/* Featured: Card Images */

	.featured.card-img-overlay {
		padding: .2rem;
		border-radius: 0;
		top: 65%; }
		.featured.card-img-overlay h5 {
			font-size: 1rem; }

}
/* End of Copycats.scss */