@charset "UTF-9";
/* Copycats Custom scss file */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;700;900&display=swap");
:root {
  --woocommerce: #7F54B3;
  --wc-green: #198754;
  --wc-red: #dc3545;
  --wc-orange: #fd7e14;
  --wc-blue: #0d6efd;
  --wc-primary: #7F54B3;
  --wc-primary-text: white;
  --wc-secondary: #e9e6ed;
  --wc-secondary-text: #515151;
  --wc-highlight: #b3af54;
  --wc-highligh-text: white;
  --wc-content-bg: #fff;
  --wc-subtext: #767676;
  --copycats-font-heading-preset: "Jost",Arial,sans-serif;
}

/* Buttons, Wordpress sections */
/*  Buttons 
    @package Main Copycats Buttons templates
*/
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button[type=submit] {
  outline: none !important;
}

.btn, button {
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 400;
  border: 1px solid transparent;
  border-radius: 1.375rem;
  text-shadow: none;
}

button.proceed-button {
  width: 100%;
  border: none;
  font-weight: 700;
  font-size: 0.8rem;
  border-radius: 12px;
}
button.alt {
  background-color: #2c2d33;
  border-color: #2c2d33;
  color: white;
}

.proceed-button {
  background-color: hsl(245, 75%, 52%);
  padding: 1rem 0;
  color: white;
  box-shadow: 0 20px 30px -8px #333e48;
}
.proceed-button:hover {
  background-color: hsl(244, 83%, 68%);
}

/*  Sections
    @package Copycats Sections templates
    Includes: Comments, navbar, dropdown, header, footer, copyright
*/
.site-footer h3, .site-footer .h3 {
  color: tomato;
}

.box-footer {
  position: relative;
}

.copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.copycats-nav-row {
  padding-top: 1rem;
}
.copycats-nav-row .departments-menu-title {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.fs-box.card {
  background-color: #fed700;
}

.categories-list-menu a {
  color: #222832;
}

.departments-menu-title {
  background-color: #dc3545;
  font-weight: 700;
  font-size: 1em;
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 calc(1.143em + 8px);
  border-radius: 0.5em;
}

/* Topbar, Navbar, Dropdown */
.copycats-navbar {
  padding: 2.286em 0 1.857em;
}

.site-header {
  position: relative;
  background-color: var(--wp--preset--color--luminous-vivid-amber);
  z-index: 999;
}

.site-header .top-bar {
  text-align: center;
}

.site-header .top-bar > * {
  color: rgb(51, 51, 51);
}

.site-header .top-bar-menu .menu-item {
  padding: 0 32px;
}

.site-header .hot-title, .site-header .navbar-search {
  margin: 0.59em 0;
}

.site-header .navbar-search {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.site-header .navbar-search .nav a {
  margin-left: 26px;
  color: #333e48;
}

.site-header .navbar-search .btn {
  background: #dc3545;
  color: #f7f7f7;
}

.nav, .dropdown-menu, ul.nav {
  list-style: none;
}

.navbar-nav {
  flex-direction: row !important;
}

ul.nav {
  display: flex;
  flex-wrap: wrap;
}

/* Main Dropdown Menu*/
.dropdown > .dropdown-menu {
  border: 2px solid transparent;
  border-top: none;
  width: 100%;
  margin: 0;
  border-radius: 0;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  padding: 0.5em 0;
  box-shadow: none;
  min-width: 270px;
  top: 100% !important;
  background-clip: padding-box;
  background-color: rgb(247, 247, 247);
}

.departments-menu .dropdown > .yamm {
  visibility: hidden;
}

.departments-menu .dropdown:hover > .yamm {
  visibility: visible;
}

.departments-menu .dropdown-menu > li {
  padding: 0 1em;
}

.departments-menu .dropdown-menu > li > a {
  padding: 6.5px 0 6.5px 5px;
  line-height: 1.5;
  white-space: normal;
  border-bottom: 1px solid #ddd;
}

.departments-menu .dropdown-menu > li:last-child > a {
  border-bottom: none;
}

.departments-menu .dropdown-menu > li:hover > a {
  font-weight: 700;
  background-color: #f5f5f5;
}

.show-dropdown > .dropdown-menu {
  display: block;
}

.dropdown > .dropdown-menu.yamm {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.28);
}

.navbar-search .form-control {
  padding: 0.3em 2.134em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.navbar-search .input-group {
  height: 41px;
}
.navbar-search .input-group > div {
  height: 100%;
}
.navbar-search .input-group .input-group-btn {
  font-size: 1.066em;
}
.navbar-search .input-search-field {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
}
.navbar-search .search-categories {
  padding-right: 4.875em;
  background: white;
}
.navbar-search .search-categories > select {
  border-width: 0;
}
.navbar-search .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 100%;
  padding: 0.34em 1rem;
}

.form-select, select {
  display: block;
  padding: 0.25rem 2.2rem 0.25rem 0.75rem;
  width: 100%;
  font-weight: 400;
  line-height: 1.714;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 1.375rem;
  box-shadow: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.input-group-addon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
}

.hot-title h5, .hot-title .h5 {
  margin: 0;
  letter-spacing: 0.5px;
  font-size: 13px;
}

.section-title {
  font-family: var(--copycats-font-heading-preset);
  text-transform: uppercase;
  font-weight: 700;
}

.main-header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header .main-header-right .woo_search_with_cats {
  margin-left: auto;
  margin-right: auto;
}

#comment {
  width: 100%;
  height: 150px;
}

#respond {
  background: #fbfbfb;
  padding: 0 10px 0 10px;
}

/* Highlight active form field */
#respond input[type=text], textarea {
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

#respond input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
textarea:focus {
  box-shadow: 0 0 5px rgb(81, 203, 238);
  margin: 5px 1px 3px 0px;
  border: 2px solid rgb(81, 203, 238);
}

/* Navbars */
ul.navbar-nav li a {
  font-size: 0.96rem;
  line-height: 19px;
  letter-spacing: 0.4px;
}

ul.top-bar {
  list-style: none;
}

/* Header Menus: Bottom Bar */
ul.copycats-pages-menu > li > a {
  color: rgb(34, 40, 50);
  font-size: 0.96rem;
  font-weight: 500;
}

ul.copycats-pages-menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.copycats-pages-menu > li > a {
  display: block;
  position: relative;
  padding: 11px 20px 13px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.3px;
  transition: all 0.3s ease-in !important;
}

ul.copycats-pages-menu > li > .sub-menu {
  position: absolute;
  list-style: none;
  width: 200px;
  top: 100%;
  left: 0;
  padding: 0;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  z-index: 100;
  text-align: left;
}

ul.copycats-pages-menu > li .sub-menu {
  display: none;
}

.copycats__mobile_content .copycats-pages-menu .nav {
  display: block;
}

.copycats-pages-menu .nav .menu-item a {
  font-weight: 350;
  color: #292e28;
}

.copycats__mobile {
  display: none;
}

/* Main copycats.scss */
/* Containers */
/* Main Header Image Widget Display */
.cover-display {
  background-size: cover;
  background-position: center;
  height: 450px;
  display: block;
}

.fs-slider-content {
  margin-top: 140px;
  margin-bottom: 134px;
}

.primary-container {
  padding: 25px 25px;
}

/* Sliders Featured Main SVG */
.featured-wrapper {
  display: grid;
  margin-top: 10px;
  color: white;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.featured-item {
  grid-column-start: 3;
  grid-column-end: 6;
}

.card .featured.price {
  float: right;
  padding: 0.375rem 0.75rem;
  border-radius: 26px;
  vertical-align: middle;
  font-size: 16px;
  color: #d5d9e1;
  background-color: black;
}

.featured-sgv img {
  height: 300px;
}

.slide-2 .slide-grid-featured {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

/* Grid Template Items Demo Layout*/
.slide-grid-featured {
  height: 600px;
  width: auto;
  padding: 1.5rem;
}

.featured.card {
  height: 100%;
}

.featured.card-img-overlay {
  padding: 0.5rem;
  top: 75%;
  background-color: #fff;
}

.item {
  overflow: hidden;
}

.slide-2 .slide-grid-featured .item-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  background: #fff;
}

.slide-2 .slide-grid-featured .item-2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  background: rgb(228, 228, 228);
}

@media only screen and (max-width: 550px) {
  #search-bar {
    display: none;
  }
  .inner-slider-wrapper .card {
    margin: 0 20px 0 20px;
    
    display: inline-flex !important;
  }
  .d-print-none {
    display: none !important;
  }
}
.cc-btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #198754;
  --bs-btn-border-color: #198754;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #157347;
  --bs-btn-hover-border-color: #146c43;
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #146c43;
  --bs-btn-active-border-color: #13653f;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #198754;
  --bs-btn-disabled-border-color: #198754;
}

.cc-btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #d63384;
  --bs-btn-border-color: #d63384;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #b62b70;
  --bs-btn-hover-border-color: #ab296a;
  --bs-btn-focus-shadow-rgb: 220, 82, 150;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ab296a;
  --bs-btn-active-border-color: #a12663;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #d63384;
  --bs-btn-disabled-border-color: #d63384;
}

.cc-btn-special {
  --bs-btn-color: #000;
  --bs-btn-bg: #4fce5d;
  --bs-btn-border-color: #4fce5d;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #69d575;
  --bs-btn-hover-border-color: #61d36d;
  --bs-btn-focus-shadow-rgb: 67, 175, 79;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #72d87d;
  --bs-btn-active-border-color: #61d36d;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #4fce5d;
  --bs-btn-disabled-border-color: #4fce5d;
}

.text-bg-primary {
  color: #fff !important;
  background-color: RGBA(var(--bs-primary-rgb), var(--bs-bg-opacity, 1)) !important;
}

.text-bg-secondary {
  color: #fff !important;
  background-color: RGBA(var(--bs-secondary-rgb), var(--bs-bg-opacity, 1)) !important;
}

.text-bg-special {
  color: #000 !important;
  background-color: RGBA(var(--bs-special-rgb), var(--bs-bg-opacity, 1)) !important;
}

/* Import Copycats Woocommerce styles */
/* Include aditional code inside extras.scss */
/**
 * Deprecated
 * Fallback for bourbon equivalent
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Use bourbon mixin instead `@include transform(scale(1.5));`
 */
/**
 * Deprecated
 * Use bourbon mixin instead `@include box-sizing(border-box);`
 */
/**
 * Objects
 */
/* Extras Styling begins */
.woocommerce,
.woocommerce-page {
  /**
   * General layout styles
   */
  /**
   * Product page
   */
  /**
   * Product loops
   */
  /**
   * Cart page
   */
  /**
   * Cart sidebar
   */
  /**
   * Forms
   */
  /**
   * oEmbeds
   */
}
.woocommerce .woocommerce-message .button,
.woocommerce .woocommerce-error .button,
.woocommerce .woocommerce-info .button,
.woocommerce-page .woocommerce-message .button,
.woocommerce-page .woocommerce-error .button,
.woocommerce-page .woocommerce-info .button {
  float: right;
}
.woocommerce .col2-set,
.woocommerce-page .col2-set {
  *zoom: 1;
  width: 100%;
}
.woocommerce .col2-set::before, .woocommerce .col2-set::after,
.woocommerce-page .col2-set::before,
.woocommerce-page .col2-set::after {
  content: " ";
  display: table;
}
.woocommerce .col2-set::after,
.woocommerce-page .col2-set::after {
  clear: both;
}
.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1 {
  float: left;
  width: 48%;
}
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
  float: right;
  width: 48%;
}
.woocommerce img,
.woocommerce-page img {
  height: auto;
  max-width: 100%;
}
.woocommerce div.product div.images,
.woocommerce #content div.product div.images,
.woocommerce-page div.product div.images,
.woocommerce-page #content div.product div.images {
  float: left;
  width: 48%;
}
.woocommerce div.product div.thumbnails,
.woocommerce #content div.product div.thumbnails,
.woocommerce-page div.product div.thumbnails,
.woocommerce-page #content div.product div.thumbnails {
  *zoom: 1;
}
.woocommerce div.product div.thumbnails::before, .woocommerce div.product div.thumbnails::after,
.woocommerce #content div.product div.thumbnails::before,
.woocommerce #content div.product div.thumbnails::after,
.woocommerce-page div.product div.thumbnails::before,
.woocommerce-page div.product div.thumbnails::after,
.woocommerce-page #content div.product div.thumbnails::before,
.woocommerce-page #content div.product div.thumbnails::after {
  content: " ";
  display: table;
}
.woocommerce div.product div.thumbnails::after,
.woocommerce #content div.product div.thumbnails::after,
.woocommerce-page div.product div.thumbnails::after,
.woocommerce-page #content div.product div.thumbnails::after {
  clear: both;
}
.woocommerce div.product div.thumbnails a,
.woocommerce #content div.product div.thumbnails a,
.woocommerce-page div.product div.thumbnails a,
.woocommerce-page #content div.product div.thumbnails a {
  float: left;
  width: 30.75%;
  margin-right: 3.8%;
  margin-bottom: 1em;
}
.woocommerce div.product div.thumbnails a.last,
.woocommerce #content div.product div.thumbnails a.last,
.woocommerce-page div.product div.thumbnails a.last,
.woocommerce-page #content div.product div.thumbnails a.last {
  margin-right: 0;
}
.woocommerce div.product div.thumbnails a.first,
.woocommerce #content div.product div.thumbnails a.first,
.woocommerce-page div.product div.thumbnails a.first,
.woocommerce-page #content div.product div.thumbnails a.first {
  clear: both;
}
.woocommerce div.product div.thumbnails.columns-1 a,
.woocommerce #content div.product div.thumbnails.columns-1 a,
.woocommerce-page div.product div.thumbnails.columns-1 a,
.woocommerce-page #content div.product div.thumbnails.columns-1 a {
  width: 100%;
  margin-right: 0;
  float: none;
}
.woocommerce div.product div.thumbnails.columns-2 a,
.woocommerce #content div.product div.thumbnails.columns-2 a,
.woocommerce-page div.product div.thumbnails.columns-2 a,
.woocommerce-page #content div.product div.thumbnails.columns-2 a {
  width: 48%;
}
.woocommerce div.product div.thumbnails.columns-4 a,
.woocommerce #content div.product div.thumbnails.columns-4 a,
.woocommerce-page div.product div.thumbnails.columns-4 a,
.woocommerce-page #content div.product div.thumbnails.columns-4 a {
  width: 22.05%;
}
.woocommerce div.product div.thumbnails.columns-5 a,
.woocommerce #content div.product div.thumbnails.columns-5 a,
.woocommerce-page div.product div.thumbnails.columns-5 a,
.woocommerce-page #content div.product div.thumbnails.columns-5 a {
  width: 16.9%;
}
.woocommerce div.product div.summary,
.woocommerce #content div.product div.summary,
.woocommerce-page div.product div.summary,
.woocommerce-page #content div.product div.summary {
  float: right;
  width: 48%;
  clear: none;
}
.woocommerce div.product .woocommerce-tabs,
.woocommerce #content div.product .woocommerce-tabs,
.woocommerce-page div.product .woocommerce-tabs,
.woocommerce-page #content div.product .woocommerce-tabs {
  clear: both;
}
.woocommerce div.product .woocommerce-tabs ul.tabs,
.woocommerce #content div.product .woocommerce-tabs ul.tabs,
.woocommerce-page div.product .woocommerce-tabs ul.tabs,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs {
  *zoom: 1;
}
.woocommerce div.product .woocommerce-tabs ul.tabs::before, .woocommerce div.product .woocommerce-tabs ul.tabs::after,
.woocommerce #content div.product .woocommerce-tabs ul.tabs::before,
.woocommerce #content div.product .woocommerce-tabs ul.tabs::after,
.woocommerce-page div.product .woocommerce-tabs ul.tabs::before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs::after,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs::before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs::after {
  content: " ";
  display: table;
}
.woocommerce div.product .woocommerce-tabs ul.tabs::after,
.woocommerce #content div.product .woocommerce-tabs ul.tabs::after,
.woocommerce-page div.product .woocommerce-tabs ul.tabs::after,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs::after {
  clear: both;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li {
  display: inline-block;
}
.woocommerce div.product #reviews .comment,
.woocommerce #content div.product #reviews .comment,
.woocommerce-page div.product #reviews .comment,
.woocommerce-page #content div.product #reviews .comment {
  *zoom: 1;
}
.woocommerce div.product #reviews .comment::before, .woocommerce div.product #reviews .comment::after,
.woocommerce #content div.product #reviews .comment::before,
.woocommerce #content div.product #reviews .comment::after,
.woocommerce-page div.product #reviews .comment::before,
.woocommerce-page div.product #reviews .comment::after,
.woocommerce-page #content div.product #reviews .comment::before,
.woocommerce-page #content div.product #reviews .comment::after {
  content: " ";
  display: table;
}
.woocommerce div.product #reviews .comment::after,
.woocommerce #content div.product #reviews .comment::after,
.woocommerce-page div.product #reviews .comment::after,
.woocommerce-page #content div.product #reviews .comment::after {
  clear: both;
}
.woocommerce div.product #reviews .comment img,
.woocommerce #content div.product #reviews .comment img,
.woocommerce-page div.product #reviews .comment img,
.woocommerce-page #content div.product #reviews .comment img {
  float: right;
  height: auto;
}
.woocommerce ul.products,
.woocommerce-page ul.products {
  clear: both;
  *zoom: 1;
}
.woocommerce ul.products::before, .woocommerce ul.products::after,
.woocommerce-page ul.products::before,
.woocommerce-page ul.products::after {
  content: " ";
  display: table;
}
.woocommerce ul.products::after,
.woocommerce-page ul.products::after {
  clear: both;
}
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  float: left;
  margin: 0 3.8% 2.992em 0;
  padding: 0;
  position: relative;
  width: 22.05%;
  margin-left: 0;
}
.woocommerce ul.products li.first,
.woocommerce-page ul.products li.first {
  clear: both;
}
.woocommerce ul.products li.last,
.woocommerce-page ul.products li.last {
  margin-right: 0;
}
.woocommerce ul.products.columns-1 li.product,
.woocommerce-page ul.products.columns-1 li.product {
  width: 100%;
  margin-right: 0;
}
.woocommerce ul.products.columns-2 li.product,
.woocommerce-page ul.products.columns-2 li.product {
  width: 48%;
}
.woocommerce ul.products.columns-3 li.product,
.woocommerce-page ul.products.columns-3 li.product {
  width: 30.75%;
}
.woocommerce ul.products.columns-5 li.product,
.woocommerce-page ul.products.columns-5 li.product {
  width: 16.95%;
}
.woocommerce ul.products.columns-6 li.product,
.woocommerce-page ul.products.columns-6 li.product {
  width: 13.5%;
}
.woocommerce.columns-1 ul.products li.product,
.woocommerce-page.columns-1 ul.products li.product {
  width: 100%;
  margin-right: 0;
}
.woocommerce.columns-2 ul.products li.product,
.woocommerce-page.columns-2 ul.products li.product {
  width: 48%;
}
.woocommerce.columns-3 ul.products li.product,
.woocommerce-page.columns-3 ul.products li.product {
  width: 30.75%;
}
.woocommerce.columns-5 ul.products li.product,
.woocommerce-page.columns-5 ul.products li.product {
  width: 16.95%;
}
.woocommerce.columns-6 ul.products li.product,
.woocommerce-page.columns-6 ul.products li.product {
  width: 13.5%;
}
.woocommerce .woocommerce-result-count,
.woocommerce-page .woocommerce-result-count {
  float: left;
}
.woocommerce .woocommerce-ordering,
.woocommerce-page .woocommerce-ordering {
  float: right;
}
.woocommerce .woocommerce-pagination ul.page-numbers,
.woocommerce-page .woocommerce-pagination ul.page-numbers {
  *zoom: 1;
}
.woocommerce .woocommerce-pagination ul.page-numbers::before, .woocommerce .woocommerce-pagination ul.page-numbers::after,
.woocommerce-page .woocommerce-pagination ul.page-numbers::before,
.woocommerce-page .woocommerce-pagination ul.page-numbers::after {
  content: " ";
  display: table;
}
.woocommerce .woocommerce-pagination ul.page-numbers::after,
.woocommerce-page .woocommerce-pagination ul.page-numbers::after {
  clear: both;
}
.woocommerce .woocommerce-pagination ul.page-numbers li,
.woocommerce-page .woocommerce-pagination ul.page-numbers li {
  display: inline-block;
}
.woocommerce table.cart img,
.woocommerce #content table.cart img,
.woocommerce-page table.cart img,
.woocommerce-page #content table.cart img {
  height: auto;
}
.woocommerce table.cart td.actions,
.woocommerce #content table.cart td.actions,
.woocommerce-page table.cart td.actions,
.woocommerce-page #content table.cart td.actions {
  text-align: right;
}
.woocommerce table.cart td.actions .input-text,
.woocommerce #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text {
  width: 80px;
}
.woocommerce table.cart td.actions .coupon,
.woocommerce #content table.cart td.actions .coupon,
.woocommerce-page table.cart td.actions .coupon,
.woocommerce-page #content table.cart td.actions .coupon {
  float: left;
}
.woocommerce .cart-collaterals,
.woocommerce-page .cart-collaterals {
  *zoom: 1;
  width: 100%;
}
.woocommerce .cart-collaterals::before, .woocommerce .cart-collaterals::after,
.woocommerce-page .cart-collaterals::before,
.woocommerce-page .cart-collaterals::after {
  content: " ";
  display: table;
}
.woocommerce .cart-collaterals::after,
.woocommerce-page .cart-collaterals::after {
  clear: both;
}
.woocommerce .cart-collaterals .related,
.woocommerce-page .cart-collaterals .related {
  width: 30.75%;
  float: left;
}
.woocommerce .cart-collaterals .cross-sells,
.woocommerce-page .cart-collaterals .cross-sells {
  width: 48%;
  float: left;
}
.woocommerce .cart-collaterals .cross-sells ul.products,
.woocommerce-page .cart-collaterals .cross-sells ul.products {
  float: none;
}
.woocommerce .cart-collaterals .cross-sells ul.products li,
.woocommerce-page .cart-collaterals .cross-sells ul.products li {
  width: 48%;
}
.woocommerce .cart-collaterals .shipping_calculator,
.woocommerce-page .cart-collaterals .shipping_calculator {
  width: 48%;
  *zoom: 1;
  clear: right;
  float: right;
}
.woocommerce .cart-collaterals .shipping_calculator::before, .woocommerce .cart-collaterals .shipping_calculator::after,
.woocommerce-page .cart-collaterals .shipping_calculator::before,
.woocommerce-page .cart-collaterals .shipping_calculator::after {
  content: " ";
  display: table;
}
.woocommerce .cart-collaterals .shipping_calculator::after,
.woocommerce-page .cart-collaterals .shipping_calculator::after {
  clear: both;
}
.woocommerce .cart-collaterals .shipping_calculator .col2-set .col-1,
.woocommerce .cart-collaterals .shipping_calculator .col2-set .col-2,
.woocommerce-page .cart-collaterals .shipping_calculator .col2-set .col-1,
.woocommerce-page .cart-collaterals .shipping_calculator .col2-set .col-2 {
  width: 47%;
}
.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
  float: right;
  width: 48%;
}
.woocommerce ul.cart_list li,
.woocommerce ul.product_list_widget li,
.woocommerce-page ul.cart_list li,
.woocommerce-page ul.product_list_widget li {
  *zoom: 1;
}
.woocommerce ul.cart_list li::before, .woocommerce ul.cart_list li::after,
.woocommerce ul.product_list_widget li::before,
.woocommerce ul.product_list_widget li::after,
.woocommerce-page ul.cart_list li::before,
.woocommerce-page ul.cart_list li::after,
.woocommerce-page ul.product_list_widget li::before,
.woocommerce-page ul.product_list_widget li::after {
  content: " ";
  display: table;
}
.woocommerce ul.cart_list li::after,
.woocommerce ul.product_list_widget li::after,
.woocommerce-page ul.cart_list li::after,
.woocommerce-page ul.product_list_widget li::after {
  clear: both;
}
.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img,
.woocommerce-page ul.cart_list li img,
.woocommerce-page ul.product_list_widget li img {
  float: right;
  height: auto;
}
.woocommerce form .form-row,
.woocommerce-page form .form-row {
  *zoom: 1;
}
.woocommerce form .form-row::before, .woocommerce form .form-row::after,
.woocommerce-page form .form-row::before,
.woocommerce-page form .form-row::after {
  content: " ";
  display: table;
}
.woocommerce form .form-row::after,
.woocommerce-page form .form-row::after {
  clear: both;
}
.woocommerce form .form-row label,
.woocommerce-page form .form-row label {
  display: block;
}
.woocommerce form .form-row label.checkbox,
.woocommerce-page form .form-row label.checkbox {
  display: inline;
}
.woocommerce form .form-row select,
.woocommerce-page form .form-row select {
  width: 100%;
}
.woocommerce form .form-row .input-text,
.woocommerce-page form .form-row .input-text {
  box-sizing: border-box;
  width: 100%;
}
.woocommerce form .form-row-first,
.woocommerce form .form-row-last,
.woocommerce-page form .form-row-first,
.woocommerce-page form .form-row-last {
  width: 47%;
  overflow: visible;
}
.woocommerce form .form-row-first,
.woocommerce-page form .form-row-first {
  float: left;
  /*rtl:raw:
  float: right;
  */
}
.woocommerce form .form-row-last,
.woocommerce-page form .form-row-last {
  float: right;
}
.woocommerce form .form-row-wide,
.woocommerce-page form .form-row-wide {
  clear: both;
}
.woocommerce form .password-input,
.woocommerce-page form .password-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  /* Hide the Edge "reveal password" native button */
}
.woocommerce form .password-input input[type=password],
.woocommerce-page form .password-input input[type=password] {
  padding-right: 2.5rem;
}
.woocommerce form .password-input input::-ms-reveal,
.woocommerce-page form .password-input input::-ms-reveal {
  display: none;
}
.woocommerce form .show-password-input,
.woocommerce-page form .show-password-input {
  position: absolute;
  right: 0.7em;
  top: 0.7em;
  cursor: pointer;
}
.woocommerce form .show-password-input::after,
.woocommerce-page form .show-password-input::after {
  font-family: "WooCommerce";
  speak: never;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  margin-left: 0.618em;
  content: "\e010";
  text-decoration: none;
}
.woocommerce form .show-password-input.display-password::after,
.woocommerce-page form .show-password-input.display-password::after {
  color: #585858;
}
.woocommerce #payment .form-row select,
.woocommerce-page #payment .form-row select {
  width: auto;
}
.woocommerce #payment .wc-terms-and-conditions,
.woocommerce #payment .terms,
.woocommerce-page #payment .wc-terms-and-conditions,
.woocommerce-page #payment .terms {
  text-align: left;
  padding: 0 1em 0 0;
  float: left;
}
.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order {
  float: right;
}
.woocommerce .woocommerce-billing-fields,
.woocommerce .woocommerce-shipping-fields,
.woocommerce-page .woocommerce-billing-fields,
.woocommerce-page .woocommerce-shipping-fields {
  *zoom: 1;
}
.woocommerce .woocommerce-billing-fields::before, .woocommerce .woocommerce-billing-fields::after,
.woocommerce .woocommerce-shipping-fields::before,
.woocommerce .woocommerce-shipping-fields::after,
.woocommerce-page .woocommerce-billing-fields::before,
.woocommerce-page .woocommerce-billing-fields::after,
.woocommerce-page .woocommerce-shipping-fields::before,
.woocommerce-page .woocommerce-shipping-fields::after {
  content: " ";
  display: table;
}
.woocommerce .woocommerce-billing-fields::after,
.woocommerce .woocommerce-shipping-fields::after,
.woocommerce-page .woocommerce-billing-fields::after,
.woocommerce-page .woocommerce-shipping-fields::after {
  clear: both;
}
.woocommerce .woocommerce-terms-and-conditions,
.woocommerce-page .woocommerce-terms-and-conditions {
  margin-bottom: 1.618em;
  padding: 1.618em;
}
.woocommerce .woocommerce-oembed,
.woocommerce-page .woocommerce-oembed {
  position: relative;
}

.woocommerce-account .woocommerce-MyAccount-navigation {
  float: left;
  width: 30%;
}
.woocommerce-account .woocommerce-MyAccount-content {
  float: right;
  width: 68%;
}
.woocommerce-account .woocommerce-MyAccount-content mark, .woocommerce-account .woocommerce-MyAccount-content .mark {
  background-color: transparent;
  color: inherit;
  font-weight: 700;
}

/* End of Woocommerce Layout*/
.bg-footer {
  background-color: rgb(247, 247, 247);
  color: rgb(51, 51, 51);
}

.sub-footer {
  background-color: #e5e5e5;
  text-align: center;
}

/* Sections */
/* News Section */
.section-title {
  margin: 1rem 25px;
}

.section-title h3, .section-title .h3 {
  font-weight: 700;
  text-align: center;
}

.cc-news-section .entry-title a {
  color: hsl(245, 75%, 52%);
}

/* Bottom Bar*/
.bottom-bar .wp_is_not_mobile .menu-item {
  margin: 0 32px;
}

.bottom-bar .header_main_menu {
  flex-grow: 1;
}

.bottom-bar .header_main_menu li {
  list-style: none;
}

.bottom-bar .woo_categories_menu .departments-menu-title {
  line-height: 3.214em;
}

.card.anouncement {
  color: hsl(224, 23%, 55%);
  margin: 50px auto;
  overflow: hidden;
}

.card.anouncement .hero-img {
  width: 100%;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 30px;
  font-size: 18px;
}

.card-container .card-title {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
  font-size: 32px;
}

.card-container strong {
  color: hsl(223, 47%, 23%);
}

.card-container > * {
  margin: 13px 0;
}

/* Footer */
.footer-social-icons .social-icons > ul {
  flex-direction: row;
}

.footer-social-icons .social-icons .fa-facebook:hover {
  color: #3b5998;
}

.footer-social-icons .social-icons .fa-whatsapp:hover {
  color: #4fce5d;
}

.footer-social-icons .social-icons .fa-instagram:hover {
  color: #fd7e14;
}

.social-icons {
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.social-icons > li {
  display: inline-block;
}

.social-icons li + li a {
  margin-left: 26px;
}

.address-data {
  padding-left: 3rem;
  width: 100%;
  display: inline-block;
}

.menu.block_1 {
  padding-left: 0.5rem;
}

.box {
  position: relative;
  padding: 15px;
  height: 100%;
}

.box ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

/* Sliders and Elements */
.fs-slider-content {
  margin-top: 140px;
  margin-bottom: 134px;
}
.fs-slider-content a {
  color: white;
}
.fs-slider-content button, .fs-slider-content .btn {
  background-color: #0d6efd;
  font-size: 0.96rem;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 1.375rem;
  padding: 12px 24px;
}

/* Mobile */
@media only screen and (max-width: 550px) {
  .categories-column {
    padding-left: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
