/* Woocommerce Styling Overrride */

.woocommerce-products-header h1 {
    padding-top: 30px;
}

@media only screen and ( max-width: 550px ){
    .woocommerce div.product div.summary {
        float: right;
        width: 100%;
    }
}